.header
  .header__title
    %img(src = "/static/ranking/images/ninja-sample.png")
  .header__nav
    %ul
      %li
        %a{href: '/'} Top
      %li
        %a{href: '/category'} Animations 
      %li
        %a{href: '/category'} Dramas
      %li
        %a{href: '/category'} About