.header
  .header__title
    %a{href: '/'}
      %img(src = "/static/ranking/images/ninja-sample.png")
  .header__nav
    %ul
      %li
        %a{href: '/'} トップ
      %li
        %a{href: '/animations'} アニメ 
      %li
        %a{href: '/dramas'} ドラマ