!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title ハゲハゲ
    - load sass_tags
    %link{ rel: 'stylesheet', type: 'text/css', href: "{% sass_src 'ranking/shared/style.scss' %}" }
    %link{href: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,800;1,900&display=swap", rel: "stylesheet"}
  %body
    - include 'ranking/layouts/_header.html.haml'

    .container
      - block main

    - include 'ranking/layouts/_footer.html.haml'