!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title ハゲハゲ
    - load sass_tags
    %link{ rel: 'stylesheet', type: 'text/css', href: "{% sass_src 'ranking/shared/style.scss' %}" }
  %body
    - include 'ranking/layouts/_header.html.haml'

    .container
      - block main