.header
  .header__logo 
  .header__nav
    %ul
      %li
        = link_to 'Movies', '#'
      %li
        = link_to 'Cartoons', '#'
      %li
        = link_to 'Dramas', '#'
      %li
        = link_to 'Animations', '#'