- extends "ranking/layouts/base.html.haml"

- block main
  .category
    %p.first Latest
    %p.second Animation
    %p.third Ranking
    %img(src = "/static/ranking/images/top-sample2.jpg")
    .box
      .category__box
        %a{href: '/detail'}
        .category__box__title 
          %h2 &emsp;&nbsp;ハゲハゲ＆Co.
        .category__box__media
          .category__box__media__image
            %img(src = "/static/ranking/images/ani-sample1.jpg")
          .category__box__media__info
            .category__box__media__info__genre
              %p ジャンル ： ラブコメ
              %hr
            .category__box__media__info__synopsis
              %p
              これはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなもの
              %hr
            .category__box__media__info__cast
              %ul 出演声優 ： 
                %li ハゲ、
                %li ハゲハゲ、
                %li ハゲハゲハゲ、
    .box
      .category__box
        %a{href: '/detail'}
        .category__box__title
          %h2 &emsp;&nbsp;ハゲハゲ＆Co.
        .category__box__media
          .category__box__media__image
            %img(src = "/static/ranking/images/ani-sample2.jpg")
          .category__box__media__info
            .category__box__media__info__genre
              %p ジャンル ： ラブコメ
              %hr
            .category__box__media__info__synopsis
              %p
              これはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなもの
              %hr
            .category__box__media__info__cast
              %ul 出演声優 ： 
                %li ハゲ、
                %li ハゲハゲ、
                %li ハゲハゲハゲ、
    .box
      .category__box
        %a{href: '/detail'}
        .category__box__title
          %h2 &emsp;&nbsp;ハゲハゲ＆Co.
        .category__box__media
          .category__box__media__image
            %img(src = "/static/ranking/images/ani-sample3.jpg")
          .category__box__media__info
            .category__box__media__info__genre
              %p ジャンル ： ラブコメ
              %hr
            .category__box__media__info__synopsis
              %p
              これはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなものこれはあらすじのようなもの
              %hr
            .category__box__media__info__cast
              %ul 出演声優 ： 
                %li ハゲ、
                %li ハゲハゲ、
                %li ハゲハゲハゲ、