- extends "ranking/layouts/base.html.haml"

- block main
  .movies__detail
    %section.detail__head
      %h1 タイトルタイトルタイトル
      .detail__head__table
        .detail__head__table__media
          %img(src = "/static/ranking/images/ani-sample1.jpg")
        .detail__head__table__tmeter
          %img(src = "/static/ranking/images/graph-sample.jpg")
    %section.detail__body
      .detail__body__info
        %h2.subtitle Twitterデータ
        %ul.total
          %li フォロー数 :
          %li フォロワー数 :
          %li ツイート数 :
        %ul.ave
          %li 平均いいね数 :
          %li 平均リツイート数 :
          %li 
      .detail__body__synopsis
        %h2.subtitle あらすじ
        %p.detail__body__synopsis__text
          これはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじですこれはあらすじです
      .detail__body__staff
        .detail__body__staff__cast
          %h2.subtitle キャスト
          %ul.detail__body__staff__cast__list
            %li ハゲ役：ハゲ
            %li ハゲハゲ
            %li ハゲハゲハゲ
        .detail__body__staff__co
          .detail__body__staff__co__production
            %h2.subtitle 制作会社
            %p 京アニ
          .detail__body__staff__co__behind
            %h2.subtitle スタッフ
            %ul
              %li 新ペー
              %li 真ペー
              %li 信ペー
      .detail__body__data
        .detail__body__data__music
          %h2.subtitle 音楽
          %ul
            %li OP : EvaEva 
            %li ED : Aiyaaaaaa
            %li　Insert : Good News
        .detail__body__data__date
          %h2.subtitle　放送日
          %p 2020/01/01
      .detail__body__official
        .detail__body__official__web
          %h2.subtitle　公式サイト
          %a http://hage.net/
        .detail__body__official__twitter
          %h2.subtitle　公式ツイッター
          %a !!hagetter!!

