- extends "ranking/layouts/base.html.haml"

- block main
  .container__image
  %img(src = "static/ranking/images/top-sample.jpg")
  .container__info
    %section
      %p.container__info__mov Movies
      %br  
        %img(src = "static/ranking/images/mov-sample1.jpg")
        %img(src = "static/ranking/images/mov-sample2.jpg")
        %img(src = "static/ranking/images/mov-sample3.jpg")
    %section
      %p.container__info__ani Animations
      %br  
        %img(src = "static/ranking/images/ani-sample1.jpg")
        %img(src = "static/ranking/images/ani-sample2.jpg")
        %img(src = "static/ranking/images/ani-sample3.jpg")
    %section
      %p.container__info__dra Dramas
      %br  
        %img(src = "static/ranking/images/dra-sample1.jpg")
        %img(src = "static/ranking/images/dra-sample2.jpg")
        %img(src = "static/ranking/images/dra-sample3.jpg")
    %section
      %p.container__info__car Cartoons
      %br  
        %img(src = "static/ranking/images/car-sample1.jpg")
        %img(src = "static/ranking/images/car-sample2.jpg")
        %img(src = "static/ranking/images/car-sample3.jpg")