- extends "ranking/layouts/base.html.haml"

- block main
  .container__back
    .container__image
      %p.saisho 週末
      %p.ato 何して遊ぶ？
      %img(src = "/static/ranking/images/top-sample1.jpg")
    .container__info
      %section
        %p.container__info__ani
          %a.topic{href: '/animations'} Animations
        %br
          .container__info__box 1位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/ani-sample1.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 2位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/ani-sample2.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 3位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/ani-sample3.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 4位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/ani-sample3.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 5位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/ani-sample3.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
      %section
        %p.container__info__dra
          %a.topic{href: '/dramas'} Dramas
        %br
          .container__info__box 1位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/dra-sample1.jpg")
            %br
            %a{href: '/detail'}
              %p hagehageと愉快仲間たち in the sea
          .container__info__box 2位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/dra-sample2.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 3位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/dra-sample3.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 4位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/dra-sample3.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル
          .container__info__box 5位
            %br
            %a{href: '/detail'}
              %img(src = "static/ranking/images/dra-sample3.jpg")
            %br
            %a{href: '/detail'}
              %p タイトル