- extends "ranking/layouts/base.html.haml"

- block main
  .movies__detail
    %section.detail__head
      %h1 タイトルタイトルタイトル
      .detail__head__table
        .detail__head__table__media
          %img(src = "/static/ranking/images/ani-sample1.jpg")
        .detail__head__table__tmeter
          %img(src = "/static/ranking/images/graph-sample.jpg")
    %section.detail__body
      .detail__body__synopsis
        %h2.subtitle あらすじ
        %p.detail__body__synopsis__text　これはあらすじです
      .detail__body__cast
        %h2.subtitle キャスト
        %ul.detail__body__cast__list
          %li ハゲ
          %li ハゲハゲ
          %li ハゲハゲハゲ

