.movies__detail {
  position: relative;
  width: 60%;
  height: auto;
  margin: 0 auto;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体';
  color: #FFFFF0;
  padding: 10px 20px;
  .detail__head {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    &__top {
      text-align: center;
      p.rank {
        display: inline;
        background: #cd5e3cea;
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
        line-height: 1;
        padding: 6px 14px;
        margin-left: 5px;
      }
      h1 {
        display: inline-block;
        font-size: 30px;
        margin-left: 5px;
      }
      p.appraise {
        display: inline-block;
        margin-left: 20px;
        font-size: 25px;
        text-decoration: underline;
        font-weight: bolder;
      }
    }
  }
  .detail__head__table {
    padding: 20px 15px 10px 15px;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    &__media {
      height: 100%;
      text-align: center;
      img {
        height: 300px;
        width: auto;
      }
    }
  }
  .detail__body {
    background-color: rgba(0, 0, 0, 0.500);
    margin-top: 10px;
    padding: 0 20px;
    .subtitle {
      font-size: 25px;
      margin-bottom: 10px;
    }
    &__info {
      width: 100%;
      height: auto;
      display: inline-block;
      margin: 10px 0;
      &__tag {
        h2 {
          margin: 5px 0 0 10px;
          display: inline-block;
          vertical-align: top;
        }
        img {
          border-radius: 50%;
        }
      }
      &__list {
        height: 100%;
        width: 30%;
        float: left;
        line-height: 3;
        ul {
          vertical-align: middle;
        }
        li {
          margin-top: 5px;
        }
        a:link, a:visited, a:active {
          text-decoration: none;
          color: #FFFFF0;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      &__graph {
        height: 100%;
        width: 70%;
        display: inline-block;
        text-align: center;
        img {
          height: 333px;
          width: auto;
        }
        p {
          font-size: 20px;
        }
      }
    }
    &__synopsis {
      margin: 10px 0;
      p {
        margin-top: 10px;
      }
    }
    &__staff {
      width: 100%;
      height: auto;
      display: inline-block;
      margin: 10px 0;
      &__cast {
        float: left;
        width: 50%;
        height: 100%;
        ul {
          margin-top: 10px;
          li {
            margin-top: 5px;
          }
        }
      }
      &__behind {
        width: 50%;
        float: right;
        height: 100%;
      }
    }
    &__data {
      width: 100%;
      height: auto;
      display: inline-block;
      margin: 10px 0;
      &__production {
        float: left;
        width: 50%;
        height: 50%;
      }
      &__date {
        float: right;
        width: 50%;
        height: 100%;
      }
    }
    &__official {
      width: 100%;
      height: auto;
      display: inline-block;
      margin: 10px 0 20px 0;
      &__web {
        float: left;
        width: 50%;
        height: 100%;
        a:link, a:visited, a:active {
          text-decoration: none;
          color: #FFFFF0
        }
        a:hover {
          text-decoration: underline;
        }
      }
      &__twitter {
        float: right;
        width: 50%;
        height: 100%;
        a:link, a:visited, a:active {
          text-decoration: none;
          color: #FFFFF0
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}