.container {
  padding-top: 95px;
  width: 100%;
  margin: auto;
  &__image {
    width: 100%;
    text-align: center;
    display: inline-block;
    img {
      text-align: center;
    }
  }
  &__info {
    width: 100%;
    height: 1200px;
    margin-top: 15px;
    section {
      height: 270px;
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      padding-left: 100px;
      margin-bottom: 20px;
      img {
        height: 200px;
        width: auto;
        padding: 0 20px 0 0;
      }
    }
  }
}